# Operating Systems #
#####################
Thumbs.db
ehthumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Desktop.ini
$RECYCLE.BIN/

# File Extensions #
###################
*.dll
*.pdb
*.rar
*.manifest
*.suo
*.config
*.resources
*.cache
*.obj
*.meta
*.pgc
*.pgd
*.rsp
*.sbr
*.log
*.scc
*.pidb
.builds
*.tmp
*.tmp_proj
*.tlb
*.zip
*.user
*.sln.docstates

# Builds #
###################
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/